.footer__column-link {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
}

.footer__column-link:hover {
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 1s;
    transition-delay: .4s;
    opacity: 0.35;
}
