.feynman__link {
    position: absolute;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    top: 50%;
}

.feynman__link:hover {
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 1s;
    transition-delay: .4s;
    opacity: 0.35;
}