.footer__column-links {
    margin: 0 0 16px;
    padding: 0;
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
}